#options {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
}

.popupHeader {
  width: 100%;
  height: 15%;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.popupLogo {
  height: 80%;
  margin-left: 2%;
}

.popupLogo img {
  width: 100%;
  height: 100%;
}

.popupTitle {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 18px;
}

.popupAdd {
  margin-right: 2%;
  font-size: 1.7em;
  display: flex;
  height: 100%;
  align-items: center;
}

.popupAddSvg:hover {
  cursor: pointer;
  fill: black;
}

.today {
  width: 100%;
  height: 90%;
  background-color: orange;
  overflow: scroll;
}

.popupCardDiv {
  width: 97%;
  height: 15%;
  background-color: #ffffff8e;
  border: 1px solid white;
  margin: 0.3em;
  margin-top: 0.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.popupAvatarDiv {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupNameDiv {
  width: 50%;
  font-family: inherit;
  font-size: 18px;
}

.popupName {
  display: flex;
  margin-bottom: 3%;
}

.popupInfoDiv {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-weight: bold;
}

.popupAccounts {
  height: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.popupAccounts svg {
  margin-right: 3%;
}

.popupAccounts svg:hover {
  fill: white;
  cursor: pointer;
}

.popupAvatar {
  width: 70%;
  height: 70%;
  border-radius: 100px;
}

.addPersonDiv {
  width: 100%;
  height: 100%;
  background-color: tomato;
}

.addPersonInfo {
  width: 100%;
  height: 15%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPersonCalendar {
  width: 100%;
  height: 60%;
  background-color: rgb(73, 55, 139);
}

.addPersonSocial {
  width: 100%;
  height: 15%;
  background-color: orange;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socialInput {
  padding: 3%;
  margin-left: 2%;
  border: none;
  width: 86px;
}

.addPersonButtons {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.addPersonAddPhoto {
  font-size: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: white;
}

.addPersonAddPhoto svg:hover {
  fill: black;
  cursor: pointer;
}

.addPersonNameInput {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.addPersonInput {
  width: 70%;
  padding: 10%;
  border: none;
}

.submitButton {
  padding: 3%;
  border: none;
  background: rgb(0, 238, 255);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

.submitButton:hover {
  background: rgb(0, 225, 241);
  cursor: pointer;
}

.cancelButton {
  padding: 3%;
  border: none;
  background: rgb(255, 51, 0);
  color: white;
  border-radius: 3px;
}

.cancelButton:hover {
  background: rgb(243, 20, 20);
  cursor: pointer;
}

._2WxJS {
  color: black !important;
}







.optionsContainer {
  background-color: #398ab9;
  position: fixed;
  height: 100%;
  width: 100%;
}

.optionsHeader {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: white;
}

.optionsContent {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsItemsDiv {
  height: 95%;
  width: 93%;
  margin-left: 4%;
  margin-right: 3%;
}

.optionsItemsHeader {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-left: 10px;
}

.optionsItemsContent {
  height: 90%;
  overflow: scroll;
}

.optionsAddDiv {
  height: 95%;
  width: 93%;
  margin-left: 3%;
  margin-right: 4%;
}

.optionsFooter {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.optionsFooter a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.optionsFooter a:hover {
  color: white;
  cursor: pointer;
}

.optionsItemDiv {
  width: 100%;
  height: 15%;
  background-color: orange;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.optionsImgDiv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.optionsRightDiv {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

.dustBin:hover {
  fill: red;
  cursor: pointer;
}

.popupCardDivToday {
  width: 97%;
  height: 15%;
  background-color: #cdb699;
  border: 1px solid white;
  margin: 0.3em;
  margin-top: 0.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.optionsAddHeader {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.addPersonDivOptions {
  width: 100%;
  height: 90%;
}

.addPersonInfoOptions {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addPersonCalendarOptions {
  width: 100%;
  height: 60%;
}

.addPersonSocialOptions {
  width: 100%;
  height: 15%;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}